<!-- Footer -->

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <hr>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a class="btn btn-social-icon btn-lg btn-twitter social-icons" href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank">
              <span class="fa fa-twitter"></span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a class="btn btn-social-icon btn-lg btn-github social-icons" href="https://www.github.com/{{ site.github_username }}" target="_blank">
              <span class="fa fa-github"></span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item">
              <a class="btn btn-social-icon btn-lg btn-twitter social-icons" href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" target="_blank">
                <span class="fa fa-linkedin"></span>
              </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>