<!-- Footer -->

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <hr>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a class="btn btn-social-icon btn-lg btn-twitter social-icons" href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank">
              <span class="fa fa-twitter"></span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a class="btn btn-social-icon btn-lg btn-github social-icons" href="https://www.github.com/{{ site.github_username }}" target="_blank">
              <span class="fa fa-github"></span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>